// base
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: color(sea);
  overflow-x: hidden;
}

// typography
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

h1,
h2,
h3 {
  font-family: $font-main;
}

h1 {
  font-size: 3.5rem;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

// LINK RESET

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}
